{% extends 'base.html' %}
{% block title %}Post Details{% endblock %}
{% block content %}

<ul>
    <li>
        {{ post.title}}<br>
        <text>Author: </text>  {{ post.author}}
        <br> Status: {{ post.status}}
        <br> created on: {{ post.created_on}}<br>
        
        <p>{{ post.body }}</p>
        <div style="text-align: center;">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="image" width="300" height="300">
            {% endif %} 
        </div>

    </li>
</ul>

{% endblock %}