{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}
{% block content %}

<ul>
    {% for post in object_list %}
        <li>
            <a href="{% url 'blogdetail' post.pk %}"> {{ post.title }}</a> <br>
            <text>Author: </text>{{ post.author}}
            <br> created on: {{ post.created_on}}<br>
            {{ post.title }} - <small><a href="{% url 'updatepost' post.pk %}">(Edit)</a></small>
            <small><a href="{% url 'deletepost' post.pk %}">(Delete)</a></small>
            <br/>
        </li>
    {% endfor %}
</ul>

{% endblock %}